<div class="home-content">
  <div class="container mt-1">
    <div class="row justify-content-around" >
      <div class="col-sm-4" *ngFor="let data of webPlan">
        <div class="card" >
          <div class="col-sm-12">
            <div class="card-header" class="text-center">
              {{data.name}}
            </div>
            <div class="card-body">
              <div class="image">
                <img src={{data.img}}>
                <p class="text-center">{{data.plan}}</p>
              </div>

            </div>
            <footer class="text-center">
              <a  class="btn btn-primary" (click)="next()">Get Plan</a>
            </footer>
          </div>
        </div>
      </div>


      <!-- <div class="card">
        <div class="col-md">
          <div class="card-header" class="text-center">
            Gold Plan
          </div>
          <div class="card-body">
            <div class="image">
              <img src="../../assets/B2.jpg">
              <p class="text-center">50 website<br>
                100 GB SSD Storage<br>
                ~25000 visit Monthly<br>
              </p>
            </div>
          </div>
          <footer class="text-center">
            <a href="#" class="btn btn-primary">Get Plan</a>
          </footer>
        </div>
      </div> -->

      <!-- <div class="card">
        <div class="col-md">
          <div class="card-header" class="text-center">
            Premium Plan
          </div>
          <div class="card-body">
            <div class="image">
              <img src="../../assets/B3.jpg">
              <p class="text-center">100 website<br>
                200 GB SSD Storage<br>
                ~100000 visit Monthly<br>
              </p>
            </div>

          </div>
          <footer class="text-center">
            <a href="#" class="btn btn-primary">Get Plan</a>
          </footer>
        </div>
      </div> -->
    </div>
  </div>
</div>
