<div class="details-content">
  <div class="card">
    <div class="body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Fname</th>
            <th scope="col">Lname</th>
            <th scope="col">Address</th>
            <th scope="col">Adharcard number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mark@mdo.com</td>
            <td>AB234C163856</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>jacob@fat.com</td>
            <td>BI2452H467914</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td >Larry</td>
            <td>Swift</td>
            <td>larry@twitter.com</td>
            <td>KY2345H29104</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
