<div class="details-content">
  <div class="card">
    <div class="body" >
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" >ID</th>
            <th scope="col">Fname</th>
            <th scope="col">Lname</th>
            <th scope="col">Address</th>
            <th scope="col">Adharcard number</th>
          </tr>
        </thead>
        <tbody *ngFor="let data of userdetail">
          <tr>
            <th scope="row">{{data.ID}}</th>
            <td>{{data.Fname}}</td>
            <td>{{data.Lname}}</td>
            <td>{{data.Address}}</td>
            <td>{{data.Adharnumber}}</td>
          </tr>
          <!-- <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>jacob@fat.com</td>
            <td>BI2452H467914</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td >Larry</td>
            <td>Swift</td>
            <td>larry@twitter.com</td>
            <td>KY2345H29104</td>
          </tr> -->
        </tbody>
      </table>
    </div>

  </div>
</div>
